*{
    margin:0;
    padding:0;
}

html,body{
    height:100%;
}

ul,li{
    list-style-type:none;
    padding-left:0;
}

img{
    display:block;
    width:50px;
    height:50px;
    padding:0.5rem;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.title_container {
    color:rgb(210, 218, 225) ;
    size:30px;
    background-color: rgb(52, 63, 72);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatting_container {
    width: 100%;
    background-color:rgb(52, 63, 72);
    padding: 0.5rem;
    flex: 12;
    overflow-y: scroll;
}

.input_container {
    flex: 1;
    background-color:rgb(52, 63, 72);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 0.5rem;
    position: sticky;
    bottom: 0;
    border-top: 3px solid #B2C7D9;
}

.chatting_list li {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
}

.chatting_list li .msg {
    border-radius: 5px;
    width: 60%;
    height: 100%;
    padding: 0.5rem;
}

.user {
    padding: 0.5rem;
    float: right;
    flex-direction: row-reverse;
}

.user .msg {
    background-color:rgb(210, 218, 225);
}

.chatbot .msg {
    background-color: rgb(210, 218, 225) ;
}

.chatbot img {
    margin-left: 0.5rem;
}

#chatting_container{
    flex:1;
    overflow-y:auto;
    padding:10px;
}

.input_container .chatting_input {
    bottom:0;
    font-size: 20px;
    height: 100%;
    flex: 7;
    border: none;
    padding-left: 0.5rem;
}

.answer_container{
    background-color:rgb(52, 63, 72);
    display:flex; 
}

.input_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #ccc;
}


.input_container .chat_input{
    flex:1;
    border: 1px solid #ccc;
    padding:5px;
    border-radius:10px;
    height: 100%;
}

.input_container #askButton {
    border-radius: 5px;
    padding: 10px;
    border: none;
    background-color:rgb(29, 34, 39);
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.info {
font-weight: 700;
padding: 0.3rem;
width: 60%;
text-align: center;
}
